<br />
<div style="text-align: center; font-size: 1.2em">Minty View</div>
<br />

<div style="text-align: center; font-size: 0.8em; color: cornflowerblue">Upload Transactions</div>
<div style="position: relative; margin: auto; text-align: center; width: 80px; height: 80px;">
  <img style="margin: auto; width: 80px; height: 80px; float: center;" src="assets/upload.png" />
  <input style="position: absolute; height: 80px; width: 80px; top: 0; left: 0; opacity: 0;" id="fileInput" type="file" class="file_input" multiple (change)="clickedOK()"/>
</div>
<br />

<div style="text-align: center;" *ngIf="isBlank && !isLoading">
  <br>
  <br>
  <p>This tool can help you look through your mint transactions!</p>
  <p>To use:</p>
  <p><b>1.</b> Go to <a href="https://mint.intuit.com" target="_blank">Mint</a>, click "Transactions" tab</p>
  <img src="assets/transactions.png" />
  <p><b>2.</b> Scroll to bottom and export all transactions to csv file</p>
  <img src="assets/export.png" />
  <p><b>3.</b> Upload csv file by clicking upload button up top!</p>
</div>

<div *ngIf="isLoading" style="text-align: center;">
    <img style="margin: auto; float: center;" src="assets/loading.gif" />
    <!-- <div *ngIf="showEmojiCount">
        <span style="color: cornflowerblue;">{{this.checkingMessageNumber | number}}</span> out of {{this.messages.length | number}}
    </div> -->
</div>

<div *ngIf="!isLoading && !isBlank">
  <div style="text-align: center;"><span style="color: cornflowerblue; font-size: 1.6em;">{{this.messages.length | number}}</span> Transactions</div>
  <br />


  <br />
  <br />

  <div style="display: inline-block; width: 45%;">
    <div style="text-align: center">Monthly</div>
    <canvas baseChart
            [datasets]="monthlyChartData"
            [labels]="monthlyChartLabels"
            [options]="monthlyChartOptions"
            [legend]="monthlyChartLegend"
            [chartType]="monthlyChartType"
            [colors]="chartColors"
            (chartHover)="monthlyChartHovered($event)"
            (chartClick)="monthlyChartClicked($event)"></canvas>
  </div>

  <div style="display: block; width: 45%; float: right;" *ngIf="showDaily">
    <div style="text-align: center">Daily</div>
    <canvas baseChart
            [datasets]="dailyChartData"
            [labels]="dailyChartLabels"
            [options]="dailyChartOptions"
            [legend]="dailyChartLegend"
            [chartType]="dailyChartType"
            [colors]="chartColors"
            (chartHover)="dailyChartHovered($event)"
            (chartClick)="dailyChartClicked($event)"></canvas>
  </div>

  <section *ngIf="selectedDayMessages.length > 0">

    <div style="text-align: center; font-size: 1.4em; font-weight: bold;">{{selectedDay}}</div>
    <br />
    <br />

    <div *ngFor="let message of selectedDayMessages">
      <span *ngIf="message['Transaction Type']=='debit'" style="color: red;">${{message.Amount}}</span>
      <span *ngIf="message['Transaction Type']=='credit'" style="color: green;">${{message.Amount}}</span>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <span *ngIf="message['Transaction Type']=='debit'" style="color: red;">{{message['Transaction Type']}}</span>
      <span *ngIf="message['Transaction Type']=='credit'" style="color: green;">{{message['Transaction Type']}}</span>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      {{message.Description}}
      &nbsp;&nbsp;|&nbsp;&nbsp;
      {{message.Date | date: "h:mma" | lowercase}}
    </div>
  </section>

</div>




